In [48]:
import pandas as pd
import numpy as np
import requests 
import random 
from pandas.io.json import json_normalize

#### Point of interests in this study are shopping malls, sport and recreation venues and travel related venues such as hotels etc. The seach also covers only Greater Melbourne.

Note: Due to Foursquare Place search API would return only maximum 50 records. Therefore, in order to cover the results from all Greater Melbourne, the search has been performed against different smaller area around Greater Melbourne to which the results were combined in the end.

#### Get locations of the shopping mall within 40km radius from Melbourne

In [108]:
#Get shopping mall 40km from Melbourne
# Replace "API_KEY" with your personal API_KEY from Foursquare Places.
url = "https://api.foursquare.com/v3/places/search?ll=-37.8136%2C144.9631&radius=40000&query='mall'&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
shop1 = results['results']
shop_df1 = pd.json_normalize(shop1)

#### Get locations of the shopping mall within 40km radius from Wydham Vale

In [ ]:
#Get shopping mall 40km from Wydham Vale (West side)
url = "https://api.foursquare.com/v3/places/search?ll=-37.8893%2C144.6213&radius=40000&query='mall'&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
shop2 = results['results']
shop_df2 = pd.json_normalize(shop2)

#### Get locations of the shopping mall within 30km radius from Lilydale

In [112]:
#Get shopping mall 30km from Lilydale
url = "https://api.foursquare.com/v3/places/search?ll=-37.7570%2C145.3550&radius=30000&query='mall'&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
shop3 = results['results']
shop_df3 = pd.json_normalize(shop3)

#### Get locations of the shopping mall within 40km radius from Mornington

In [113]:
#Get charging station 40km from Mornington
url = "https://api.foursquare.com/v3/places/search?ll=-38.2288%2C145.0600&radius=40000&&query='mall'&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
shop4 = results['results']
shop_df4 = pd.json_normalize(shop4)

#### Combine all the results together

In [123]:
shop_df1 = shop_df1[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
shop_df2 = shop_df2[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
shop_df3 = shop_df3[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
shop_df4 = shop_df4[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
shop_mel = pd.concat([shop_df1, shop_df2,shop_df3,shop_df4], ignore_index=True)
shop_mel.rename(columns={'geocodes.main.latitude':'latitude','geocodes.main.longitude':'longitude','location.formatted_address':'address'}, 
                 inplace=True)
shop_mel.head()

,name,latitude,longitude,address
0,Emporium Melbourne,-37.812214,144.963785,"287 Lonsdale St, Melbourne VIC 3000"
1,Royal Arcade,-37.814368,144.964103,"335 Bourke St, Melbourne VIC 3000"
2,The Clarendon Centre,-37.832392,144.960793,"261 Clarendon St, South Melbourne VIC 3205"
3,Melbourne Central,-37.810421,144.962962,"211 La Trobe St, Melbourne VIC 3000"
4,Homeplus+ Homemaker Centre,-37.877474,145.092644,"675-685 Warrigal Rd, Chadstone VIC 3148"

#### Drop the duplicated results that are returned from the overlapped area and export the dataframe to csv file.

In [124]:
shop_mel.drop_duplicates(keep='first',inplace=True)
shop_mel.to_csv('shop_mel_drop.csv',index=False)

#### Repeat the same steps above to get the poi for sport and recreation venues such as stadium etc. but sorting by popularity and limiting only 20 results returned

In [174]:
#Get sport recreation 40km from Melbourne
url = "https://api.foursquare.com/v3/places/search?ll=-37.8136%2C144.9631&radius=40000&categories=18000&limit=20&sort=POPULARITY&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
sport1 = results['results']
sport_df1 = pd.json_normalize(sport1)

In [176]:
#Get sport recreation 40km from Wydham Vale (West side)
url = "https://api.foursquare.com/v3/places/search?ll=-37.8893%2C144.6213&radius=40000&sort=POPULARITY&categories=18000&limit=20&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
sport2 = results['results']
sport_df2 = pd.json_normalize(sport2)

In [177]:
#Get sport recreation mall 30km from Lilydale
url = "https://api.foursquare.com/v3/places/search?ll=-37.7570%2C145.3550&radius=30000&categories=18000&sort=POPULARITY&limit=20&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
sport3 = results['results']
sport_df3 = pd.json_normalize(sport3)

In [178]:
#Get attractions 40km from Mornington
url = "https://api.foursquare.com/v3/places/search?ll=-38.2288%2C145.0600&radius=40000&categories=18000&sort=POPULARITY&limit=20&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
sport4 = results['results']
sport_df4 = pd.json_normalize(sport4)

In [179]:
sport_df1 = sport_df1[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
sport_df2 = sport_df2[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
sport_df3 = sport_df3[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
sport_df4 = sport_df4[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
sport_mel = pd.concat([sport_df1, sport_df2,sport_df3,sport_df4], ignore_index=True)
sport_mel.rename(columns={'geocodes.main.latitude':'latitude','geocodes.main.longitude':'longitude','location.formatted_address':'address'}, 
                 inplace=True)
sport_mel.head()

,name,latitude,longitude,address
0,Melbourne Cricket Ground (MCG),-37.819876,144.983414,"Brunton Ave, Melbourne VIC 3002"
1,Fitness First Flinders Street,-37.817785,144.965099,"276 Flinders St, Melbourne VIC 3000"
2,Flemington Racecourse,-37.787776,144.909992,"400 Epsom Rd, Flemington VIC 3031"
3,Fitness First Platinum,-37.810466,144.963103,"La Trobe St, Melbourne VIC"
4,Ashburton Pool & Recreation Centre,-37.866695,145.085251,"8 Warner Ave, Ashburton VIC 3147"

In [180]:
sport_mel.drop_duplicates(keep='first',inplace=True)
sport_mel.to_csv('sport_mel_drop.csv',index=False)

#### Get the poi for venues related to travelling such as airports, hotels etc. and sorting by popularity.

In [188]:
#Get airport and hotel and  40km from Melbourne
url = "https://api.foursquare.com/v3/places/search?ll=-37.8136%2C144.9631&radius=40000&categories=19031%2C19014&limit=50&sort=POPULARITY&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
travel1 = results['results']
travel_df1 = pd.json_normalize(travel1)

In [189]:
#Get airport and hotel 40km from Wydham Vale (West side)
url = "https://api.foursquare.com/v3/places/search?ll=-37.8893%2C144.6213&radius=40000&sort=POPULARITY&categories=19031%2C19014&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
travel2 = results['results']
travel_df2 = pd.json_normalize(travel2)

In [190]:
#Get sport recreation mall 30km from Lilydale
url = "https://api.foursquare.com/v3/places/search?ll=-37.7570%2C145.3550&radius=30000&categories=19031%2C19014&sort=POPULARITY&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}
results = requests.get(url, headers=headers).json()
travel3 = results['results']
travel_df3 = pd.json_normalize(travel3)

In [191]:
#Get sport recreation 40km from Mornington
url = "https://api.foursquare.com/v3/places/search?ll=-38.2288%2C145.0600&radius=40000&categories=19031%2C19014&sort=POPULARITY&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

results = requests.get(url, headers=headers).json()
travel4 = results['results']
travel_df4 = pd.json_normalize(travel4)

In [192]:
travel_df1 = travel_df1[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
travel_df2 = travel_df2[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
travel_df3 = travel_df3[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
travel_df4 = travel_df4[['name', 'geocodes.main.latitude', 'geocodes.main.longitude','location.formatted_address']]
travel_mel = pd.concat([travel_df1, travel_df2,travel_df3,travel_df4], ignore_index=True)
travel_mel.rename(columns={'geocodes.main.latitude':'latitude','geocodes.main.longitude':'longitude','location.formatted_address':'address'}, 
                 inplace=True)
travel_mel.head()

,name,latitude,longitude,address
0,Melbourne Airport (MEL),-37.669714,144.848484,"Departure Dr (Tullamarine Fwy), Tullamarine VI..."
1,Terminal 2,-37.669412,144.848405,"MEL Airport, Tullamarine VIC"
2,Terminal 3,-37.671283,144.848534,"MEL Airport, Tullamarine VIC"
3,T1 Terminal,-37.668636,144.850670,"Melbourne Airport, Tullamarine VIC"
4,T4,-37.673052,144.849040,"MEL Airport, Tullamarine VIC"

In [193]:
travel_mel.drop_duplicates(keep='first',inplace=True)
travel_mel.to_csv('travel_mel_drop.csv',index=False)

### How to use Foursquare Places API to get POI data including coordinates

1. Create Fouresquare Places API account and you will receive up to $200 in free monthly usage credits.
https://location.foursquare.com/products/places-api/

2. Log into Foursquare Places Developer Console and create a new project and generate API_KEY to be used for running the API request.
3. Place search API endpoint can be run as an example before (for Python)

import requests

url = "https://api.foursquare.com/v3/places/search?ll=-38.2288%2C145.0600&radius=40000&categories=19031%2C19014&sort=POPULARITY&limit=50&fields=name%2Cgeocodes%2Clocation"

headers = {
    "accept": "application/json",
    "Authorization": API_KEY
}

For the complete documentation on supported parametres, please refer to the following link
https://location.foursquare.com/developer/reference/place-search